---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Sain Biswas" description="Personal Portfolio">
  <h1>Sain Biswas Personal Portfolio</h1>
  <p>Work in Progress</p>
</BaseLayout>
