---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Sain Biswas" description="Personal Portfolio">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
    quas cumque beatae, quod neque officia quasi aliquid eos accusantium
    suscipit hic nisi corporis velit, architecto eligendi dignissimos, a
    mollitia odio officiis explicabo inventore nam. Accusantium porro velit
    dicta suscipit repudiandae, aliquam obcaecati iure perferendis debitis
    expedita at, aut cumque animi!
  </p>
</BaseLayout>
