---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Sain Biswas" description="Personal Portfolio">
  <h1 class="font-bebas">Welcome</h1>
  <h1>Sain Biswas Personal Portfolio</h1>
  <p>Work in Progress</p>
  <h3 class="font-adoria">Contact</h3>

  <div class="flex flex-col gap-4 items-center">
    <div
      class="size-36 rounded-md bg-gradient-to-b from-green-500 to-green-900 green"
    >
    </div>
    <div
      class="size-36 rounded-md bg-gradient-to-b from-purple-500 to-purple-900 purple"
    >
    </div>
    <div
      class="size-36 rounded-md bg-gradient-to-b from-blue-500 to-blue-900 blue"
    >
    </div>
  </div>
</BaseLayout>

<script>
  import gsap from "gsap";

  gsap.to(".green", { rotation: 360, x: 100, duration: 1 });

  // target the element with a class of "purple" - rotate and move FROM 100px to the left over the course of 1 second.
  gsap.from(".purple", { rotation: -360, x: -100, duration: 1 });

  // target the element with a class of "blue" - rotate and move FROM 100px to the left, TO 100px to the right over the course of 1 second.
  gsap.fromTo(".blue", { x: -100 }, { rotation: 360, x: 100, duration: 1 });
</script>
