---
import "@/styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-reca" preload />
    <Font cssVariable="--font-bebasa" preload />
    <Font cssVariable="--font-adoriaa" preload />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen w-screen font-rec">
    <slot />
  </body>
</html>
